body {
    background-color: black;
    color: white;
    font-size: 20px;
    justify-content: center;
}

.golden {
    color: goldenrod;
}

h3 {
    color: goldenrod;
    
}

select {
    width: 50%;
    padding: 10px;
    font-size: 20px;
    border: 2px solid goldenrod;
    background-color: rgb(22, 21, 21);
    color: white;
}

#submit {
    width: 40%;
    padding: 5px;
    background-color: goldenrod;
    color: black;
    border: 2px solid black;
    font-weight: bold;
    text-align: center;
}

#submit:hover {
    background-color: rgb(233, 196, 103);
}

.form-container {
    background-color: rgb(44, 43, 43);
    max-width: 500px;
    margin-left: 400px;
}

.form-container input {
    width: 80%;
    border: 1px solid goldenrod;
    padding: 10px;
    background-color: rgb(22, 21, 21);
    color: white;
    font-size: 16px;
}

::placeholder {
    color: goldenrod;
}

.radio {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

table {
    border-color: goldenrod;
}


